.jumbotron{
	background-color: white;
	padding-bottom: 0px;
	margin-bottom: 0px;	
}
.btn-group .btn{
	border-radius: 0px;
	color: black;
	transition: 0.3s;
}
.btn-group .btn:hover{
	border-style: solid;
    border-bottom-color: #0080ff;
    color: #0080ff;
}
