<div class="container">
	<nav class="navbar navbar-default navbar-fixed-top g3c-navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand" href="#/" id="logo"><img class="g3c-logo" src="img/logo.png"></a>
				<form class="navbar-left visible-xs" id="search-Small">
					
						<input type="text" placeholder="Search">
					
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>

			<div class="collapse navbar-collapse" id="navBar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#/">G3C.Club<span class="sr-only">(current)</span></a></li>
					<li><a href="#/vatPham">Vật phẩm</a></li>
					<li><a href="#/traodoi">Trao đổi</a></li>
					<li><a href="#">Hướng dẫn</a></li>
					<li><a href="#/congdong">Cộng đồng</a></li>	
				</ul>	
				
				<ul class="nav navbar-nav navbar-right">
					<li class="g3c-square-50 text-center">
						<a href="#" class="hvr-radial-out g3c-hvr-radial-out g3c-background-google">
							<i class="fa fa-google fa-lg g3c-fa-google"></i>
						</a>
					</li>
					<li class="g3c-square-50 text-center">
						<a href="#" class="hvr-radial-out g3c-hvr-radial-out g3c-background-facebook">
							<i class="fa fa fa-facebook fa-lg g3c-fa-facebook"></i>
						</a>
					</li>
					<!-- <li><a href="" class="hvr-radial-in">TEST</a></li> -->
					<li class="dropdown">
						<a href="javascript:void(0)"  class="dropdown-toggle hvr-radial-out g3c-hvr-radial-out g3c-background-icon" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-user fa-lg"></i><span class="caret"></span>
						</a>
						<ul class="dropdown-menu" >
							<li ng-hide="loggedIn">{{message}}</li>
							<li ng-show="loggedIn"><a href="#">Thông tin</a></li>
							<li ng-show="loggedIn"><a href="#">Hoạt động</a></li>
							<li ng-show="loggedIn"><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li ng-show="loggedIn"><a href="#">Đăng xuất</a></li>
							<li ng-hide="loggedIn">
								<form>
									<div class="form-group">
										<label class="control-label" for="email">Username:</label>
										<input type="text" class="form-control" id="username" ng-model="user.username">
									</div>
									<div class="form-group">
										<label class="control-label" for="email">Password:</label>
										<input type="password" class="form-control" id="password" ng-model="user.password">
									</div>
									<button type="submit" class="btn btn-default" ng-click='checkLogin();'>Đăng nhập</button>
								</form>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="row search-input hidden-xs" id="search-Large">
				<div class="col-md-6 col-md-offset-3">
					<div class="input-group" ng-controller="searchResultCtrl">
						<input type="text" class="form-control" placeholder="Tìm theo tên vật phẩm, danh mục, tên thành viên..." ng-model="searchInput">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
						</span>
					</div><!-- /input-group -->
				</div>		
			</div>
		</div>
	</nav>
</div>