
body {
	background-image: url("../img/bg.jpg");
	background-repeat: repeat;
	padding-top: 150px;
	font-family: 'Open Sans', sans-serif !important;
}

.btn-default:hover {
    color: white;
    background-color: #9ECB3C;
    border-color: #ccc;
}
.btn-viewdetail{
	background-color: transparent;
	border-color: transparent;
	border-radius: 0px;
	color: black;
	transition: 0.3s;
}
.btn-viewdetail:hover{
	border-style: solid;
	border-bottom-color: #9ECB3C;
	color: #9ECB3C;
}
.search-input{
	padding-top: 10px;
}
.frame { width: 100%; height: 160px; padding: 0; }
.frame .slidee { margin: 0; padding: 0; height: 100%; list-style: none; }
.frame .slidee li { float: left; margin: 0 50px 0 0; padding: 0; width: 128px; height: 100%; }
.scrollbar { width: 100%; height: 5px; margin-top: 5px;}
.scrollbar .handle {
    width: 30px; /* overriden if dynamicHandle: 1 */
    height: 100%;
    background: #9ECB3C;
    border-radius: 5px;
}
footer{
	
	color: #ff7f7f;
}

.recommended-courses>a {
	color: black;
}
.recommended-courses>a>.course:hover {
	border: 1px solid;
	border-bottom-color: #9ECB3C;
	border-top: none;
	border-left: none;
	border-right: none;
	color: #9ECB3C;
}
.course {
	font-size: 13px;
	padding: 0;
	margin-bottom: 5px;
}
.course>.col-md-3, .course>.col-md-8 {
	padding: 0;
}
.course>.col-md-8>.text-muted {
	font-size: 10px;
	font-style: italic;
}
.course>.col-md-8>h4, .course>.col-md-8>p {
	margin: 0;
}
.user-status {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 40px;
}
.status-box {
	border: 1px solid #eee;
	width: auto;
	height: 137px;
}
.status-box>.col-md-1, .status-box>.col-md-10 {
	padding: 0px;
	padding-top: 10px;
}
.status-box>.col-md-1 {
	width: 70px;
}
.status {
	border: none;
	width: 100%;
	height: 105px;
	min-width: 345px;
}
.status:focus {
	outline: none;
}
.post-status {
	float: right;
	width: 100px;
	height: 30px;
	margin-right: 3px;
	background-color: #9ECB3C;
	border: none;
	color: #fff;
	position: relative;
	z-index: 1;
}
.post-status:hover {
	background-color: #148749;
}
.post-status:focus {
	outline-color: #148749;
}
.news-feed {
	margin-left: -1px;
	margin-right: -1px;
}
.post {
	width: 45%;
	background-color: mintcream;
	display: inline-block;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
}
.post-pic>img {
	width: 90%;
	height: 160px;
}
.post-content>.col-md-2>img {
	margin-top: 10px;
	margin-left: 5px;
}
@media screen and (min-width: 992px) {
	#bs-example-navbar-collapse-1 {
		font-size: 18px !important;
	}
	.nav>li>a {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
}

.page.ng-leave 	{ z-index:9999; }
.page.ng-enter 	{ z-index:8888; }
.page.ng-leave        {
    -webkit-animation:slideOutLeft 0.5s both ease-in;
	-moz-animation:slideOutLeft 0.5s both ease-in;
	animation:slideOutLeft 0.5s both ease-in;   
}
.page.ng-enter 		{  
    -webkit-animation:slideInRight 0.5s both ease-in;
	-moz-animation:slideInRight 0.5s both ease-in;
	animation:slideInRight 0.5s both ease-in;    
}

@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}

/*
@media screen and (min-width: 768px) {
	.form-control.search-input{
		width:500px !important;
	}
}
*/