.navbar-brand>.g3c-logo{
  height: 30px;
}
.g3c-navbar-default{
      background-color: white;
      border-color: white
}
.g3c-hvr-radial-out{
  border-radius: 100%;
  background: white !important; 
  
}
.g3c-hvr-radial-out:before{
  background: #dd4b39 !important; 
  
}
.g3c-fa-google{
  color: #dd4b39;
}
.g3c-hvr-radial-out:hover>.g3c-fa-google{
  color: #FFFFFF;
}