<!DOCTYPE html>
<html lang="en" ng-app="g3cApp">
<head>
	<meta charset="UTF-8">
	<title>G3C - Green Creative Cute Crafts.</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script src="https://use.fontawesome.com/a0a2fad8e0.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lemonada&amp;subset=vietnamese" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=vietnamese" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="js/jquery-ui.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/sly.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
    <script src="js/userManController.js"></script>
    <script src="js/congdong/Controller.js"></script>
	<script src="js/congdong/module.js"></script>
    <script src="js/app.js"></script>
    
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
					<img src="img/logo.png">
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right" ng-controller="getUserManController as userMan">
					<li class="active"><a href="index.html">G3C.Club<span class="sr-only">(current)</span></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vật phẩm<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
					<li><a href="#">Trao đổi</a></li>
					<li><a href="#">Hướng dẫn</a></li>
					<li><a href="#">Cộng đồng</a></li>				
					<li><a href="#"><i class="fa fa-google-plus-official fa-lg"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook-official fa-lg"></i></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle user-icon" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="img/user-32.png"></img><span class="caret"></span></a>
						<ul class="dropdown-menu" >
							<li><a href="#">{{userMan.message}}</a></li>
							<li><a href="#">Thông tin</a></li>
							<li><a href="#">Hoạt động</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Đăng xuất</a></li>
							<form>
								<div class="form-group">
									<li>
										<label class="control-label" for="email">Username:</label>
										<input type="text" class="form-control" id="username" ng-model="userMan.user.username">
									</li>
								</div>
								<div class="form-group">
									<li>
										<label class="control-label" for="email">Password:</label>
										<input type="password" class="form-control" id="password" ng-model="userMan.user.password">
									</li>
								</div>
							<li><button type="submit" class="btn btn-default" ng-click='userMan.checkLogin();'>Submit</button></li>
							</form>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
			<div class="row">
				<form class="form-inline">
				<div class="form-group"><input type="text" class="form-control search-input" placeholder="Search"></div><button type="submit" class="btn btn-default btn-search-submit"><span class="glyphicon glyphicon-search"></span></button>
				</form>
			</div>
		</div><!-- /.container -->
	</nav>
	<div class="container-fluid">
		<div class="col-md-3">
			<h2 class="page-header text-center">TOP 3 Thành viên</h2>
			<div class="user-top-month" ng-controller="getTopUserController as gtu">
				<div class="col-md-12 text-center">
					<img src="img/user-128.png" alt="">								
					<p><a class="btn btn-viewdetail" href="#" role="button">{{gtu.top1}}</a></p>
				</div>
				<div class="col-md-12 text-center">
					<img src="img/user-128.png" alt="">								
					<p><a class="btn btn-viewdetail" href="#" role="button">{{gtu.top2}}</a></p>
				</div>
				<div class="col-md-12 text-center">
					<img src="img/user-128.png" alt="">								
					<p><a class="btn btn-viewdetail" href="#" role="button">{{gtu.top3}}</a></p>
				</div>
				
				<div class="col-md-12 text-center">
					<p><a class="btn btn-viewdetail" href="#" role="button">Xem thêm</a></p>
				</div>
			</div>
			<hr>
			<h2 class="page-header text-center">Khoá học nổi bật</h2>
			<div class="recommended-courses">
				<a href="#">
					<div class="col-md-12 course">
						<div class="col-md-3">
							<img src="img/128-block.png" width="80px" height="80px">
						</div>
						<div class="col-md-8">
							<h4><b>Tên khoá học</b></h4>
							<p>Khoá học về...</p>
							<p class="text-muted">Abc, Xyz... đang tham gia khoá học này</p>
						</div>
					</div>
				</a>
				<a href="#">
					<div class="col-md-12 course">
						<div class="col-md-3">
							<img src="img/128-block.png" width="80px" height="80px">
						</div>
						<div class="col-md-8">
							<h4><b>Tên khoá học</b></h4>
							<p>Khoá học về...</p>
							<p class="text-muted">Abc, Xyz... đang tham gia khoá học này</p>
						</div>
					</div>
				</a>
				<a href="#">
					<div class="col-md-12 course">
						<div class="col-md-3">
							<img src="img/128-block.png" width="80px" height="80px">
						</div>
						<div class="col-md-8">
							<h4><b>Tên khoá học</b></h4>
							<p>Khoá học về...</p>
							<p class="text-muted">Abc, Xyz... đang tham gia khoá học này</p>
						</div>
					</div>
				</a>
				<a href="#">
					<div class="col-md-12 course">
						<div class="col-md-3">
							<img src="img/128-block.png" width="80px" height="80px">
						</div>
						<div class="col-md-8">
							<h4><b>Tên khoá học</b></h4>
							<p>Khoá học về...</p>
							<p class="text-muted">Abc, Xyz... đang tham gia khoá học này</p>
						</div>
					</div>
				</a>
			</div>
		</div> <!--col-md-4 -->
		<div class="col-md-6">
			<div class="row user-status">
				<div class="status-box">
					<div class="col-md-1 text-center">
						<img src="img/user-128.png" width="50" height="50">	
					</div>
					<div class="col-md-10">
						<textarea class="status" placeholder="Share your status"></textarea>
						<script type="text/javascript">
							$(document).ready(function() {
								// body...
								$('.status').focusin(function() {
									/* Act on the event */
									$('.status-box').css('outline', 'solid 1px #9ECB3C');
								});
								$('.status').focusout(function(event) {
									/* Act on the event */
									$('.status-box').css('outline', 'none');
								});
							})
						</script>

					</div>
					<button class="post-status">Post</button>
				</div>
			</div>
			<hr>
			<div class="row news-feed">
				<div class="post">
					<div class="row text-center post-pic">
						<img src="img/128-block.png">
					</div>
					<div class="row post-content">
						<div class="col-md-2">
							<img src="img/user-32.png">
						</div>
						<div class="col-md-10">
							<h4><b>Jackie Chan</b> <span class="text-muted">vừa đăng một ảnh</span></h4>
							<p class="small text-muted">10 phút trước <i class="fa fa-globe"></i></p>
							<p>Chào các bạn! Đoán xem tôi đang ở đâu nào! :x :x :x</p>
							<hr>
							<i class="fa fa-heart"></i> 24K <i class="fa fa-comments"></i> 1.2K <i class="fa fa-share"></i> 372
						</div>
					</div>
				</div>
				<div class="post">
					<div class="row text-center post-pic">
						<img src="img/128-block.png">
					</div>
					<div class="row post-content">
						<div class="col-md-2">
							<img src="img/user-32.png">
						</div>
						<div class="col-md-10">
							<h4><b>Barack Obama</b> <span class="text-muted">vừa đăng một ảnh</span></h4>
							<p class="small text-muted">15 phút trước <i class="fa fa-globe"></i></p>
							<p>Đang ăn tối cùng gia đình ở nhà hàng của @Beckham !!! Tuyệt vời!!! 
								<br>
								<a href="">#dinner</a> <a href="">#dinnerwithfamily</a> <a href="">#beckhamrestaurant</a> <a href="">#happymoment</a>
							</p>
							<hr>
							<i class="fa fa-heart"></i> 598K <i class="fa fa-comments"></i> 62K <i class="fa fa-share"></i> 154K
						</div>
					</div>
				</div>
				<div class="post">
					<div class="row text-center post-pic">
						<img src="img/128-block.png">
					</div>
					<div class="row post-content">
						<div class="col-md-2">
							<img src="img/user-32.png">
						</div>
						<div class="col-md-10">
							<h4><b>Donald J. Trump</b> <span class="text-muted">vừa đăng một ảnh</span></h4>
							<p class="small text-muted">20 phút trước <i class="fa fa-globe"></i></p>
							<p>Chào các bạn! Dù gì thì tôi cũng sẽ thắng thôi! Và nước Mỹ sẽ tiếp tục phát triển thăng hoa. Cảm ơn các cử tri đã ủng hộ cho tôi!
								<br>
								<a href="">#iamgonnawin</a> <a href="">#hailamerica</a>
							</p>
							<hr>
							<i class="fa fa-heart"></i> 124K <i class="fa fa-comments"></i> 32K <i class="fa fa-share"></i> 3K
						</div>
					</div>
				</div>
				<div class="post">
					<div class="row text-center post-pic">
						<img src="img/128-block.png">
					</div>
					<div class="row post-content">
						<div class="col-md-2">
							<img src="img/user-32.png">
						</div>
						<div class="col-md-10">
							<h4><b>Donnie Yen</b> <span class="text-muted">vừa đăng một ảnh</span></h4>
							<p class="small text-muted">30 phút trước <i class="fa fa-globe"></i></p>
							<p>Tôi sẽ gặp lại các bạn trên màn ảnh sớm thôi! Chờ xem nhé :x sắp có trailer rồi đấy! Stay tuned for tonight!</p>
							<hr>
							<i class="fa fa-heart"></i> 224K <i class="fa fa-comments"></i> 18K <i class="fa fa-share"></i> 6K
						</div>
					</div>
				</div>
				<div class="post">
					<div class="row text-center post-pic">
						<img src="img/128-block.png">
					</div>
					<div class="row post-content">
						<div class="col-md-2">
							<img src="img/user-32.png">
						</div>
						<div class="col-md-10">
							<h4><b>Trường Giang</b> <span class="text-muted">vừa đăng một ảnh</span></h4>
							<p class="small text-muted">45 phút trước <i class="fa fa-globe"></i></p>
							<p>Tôi là ai trong cuộc đời này và ai là tôi trong cuộc đời sau...</p>
							<hr>
							<i class="fa fa-heart"></i> 94K <i class="fa fa-comments"></i> 22K <i class="fa fa-share"></i> 2K
						</div>
					</div>
				</div>
				<div class="post">
					<div class="row text-center post-pic">
						<img src="img/128-block.png">
					</div>
					<div class="row post-content">
						<div class="col-md-2">
							<img src="img/user-32.png">
						</div>
						<div class="col-md-10">
							<h4><b>Hoài Linh</b> <span class="text-muted">vừa đăng một ảnh</span></h4>
							<p class="small text-muted">50 phút trước <i class="fa fa-globe"></i></p>
							<p>Ai muốn live stream cùng tui không :)) có thì like đi nha, tối về tính!</p>
							<hr>
							<i class="fa fa-heart"></i> 224K <i class="fa fa-comments"></i> 35K <i class="fa fa-share"></i> 9K
						</div>
					</div>
				</div>
			</div>
		</div> <!-- col-md-6 -->
		<div class="col-md-3 product">
			<h1 class="page-header text-center">Sản phẩm nổi bật</h1>
			<div class="frame" id="centered">
				<ul class="slidee text-center">
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
				</ul>
			</div>
			<div class="scrollbar">
				<div class="handle">
					<div class="mousearea"></div>
				</div>
			</div>
		</div>
	</div>
</body>