body{
  padding-top:70px;
}
.g3c-badge{
  background-color: #009900; 
}
.g3c-btn{
  color: #009900;
}
.g3c-btn-facebook{
  color: #1F4C8A;
}
.g3c-btn-google{
  color: #d9534f;
}
.g3c-btn-logout{
  color: #ffa101;
}
.g3c-btn-search{
  display: inline-block;
  padding: 1em;
  background-color: #79BD9A;
  text-decoration: none;
  color: white;
}
.g3c-dropdown-menu{
  min-width: 300px;
  padding: 15px;
}
.g3c-dropdown-toggle{
  color:#009900; 
  margin-top: 5px;
}
.g3c-ease-in{
  -webkit-transition: all 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
    -moz-transition: all 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
      -o-transition: all 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
          transition: all 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
        /* ease-in */
}
.g3c-hvr-radial-out, .g3c-hvr-radial-out-facebook, 
.g3c-hvr-radial-out-google, .g3c-hvr-radial-out-logout{
  background-color: white;
}
.g3c-hvr-radial-out:before{
  background-color: #009900;
}
.g3c-hvr-radial-out-facebook:before{
  background-color: #1F4C8A;
}
.g3c-hvr-radial-out-google:before{
  background-color: #d9534f;
}
.g3c-hvr-radial-out-logout:before{
  background-color: #ffa101;
}
.g3c-hvr-radial-out:hover, .g3c-hvr-radial-out:focus,
.g3c-hvr-radial-out-facebook:hover, .g3c-hvr-radial-out-facebook:focus,
.g3c-hvr-radial-out-google:hover, .g3c-hvr-radial-out-google:focus,
.g3c-hvr-radial-out-logout:hover, .g3c-hvr-radial-out-logout:focus{
  color: white;
}
.g3c-nav>li>a:focus, .g3c-nav>li>a:hover{
  background-color: white;
}
.g3c-navbar-logo{
  height: 50px;
}
.g3c-navbar-form{
  margin: 0px;
  border: 0px;
}
.g3c-navbar-toggle .icon-bar{
  background-color: #009900;
}
.g3c-navbar-toggle:hover .icon-bar, .g3c-navbar-toggle:focus .icon-bar {
  background-color: white;
}
.g3c-navbar-white{
  background-color: white;
  border-color: white;
}
.g3c-search-container{
  background-color: white;
  height: 50px;
  padding: 10px;
  position: absolute;
  top: -50px;
  width: 100%;
}
.g3c-search-input{
  border: 0px solid #009900;
  border-bottom: 2px solid #009900;
  height: 34px;
  padding: 10px 12px;
  width:75%;
}
.g3c-search-input{
  outline: none;
}
.g3c-social-button a{
  width: 48%;
}
.g3c-top0{
  top: 0px;
}

@media (min-width: 768px){
  .g3c-navbar-form{
    margin: 8px;
  }
}