.navbar-brand>.g3c-logo{
  height: 30px;
}
.g3c-square-50{
	height: 50px;
	width: 50px;
}
.g3c-navbar-default{
  background-color:white;
  border-color: white;
}
.g3c-hvr-radial-out{
  border-radius: 100%;
  background-color: #ffffff; 
  
}
.g3c-background-google:before{
  background-color: #dd4b39;   
}
.g3c-fa-google{
  color: #dd4b39;
}
.g3c-background-facebook:before{
  background-color: #3B5998;   
}
.g3c-fa-facebook{
  color: #3B5998;
}
.g3c-background-icon:before{
  background-color: #9ECB3C;   
}
.g3c-hvr-radial-out:hover>*{
  color: #FFFFFF;
}
.g3c-hvr-rectangle-out{
  background-color: #ffffff;
}
.g3c-hvr-rectangle-out:before{
  background-color: #9ECB3C;
}
.g3c-navbar-default .g3c-nav>li>a:focus, .g3c-navbar-default .g3c-nav>li>a:hover{
  background-color: #ffffff;
  color: #ffffff;
}
.g3c-navbar-default .g3c-nav>li>a{
  color:#9ECB3C;
}
.g3c-navbar-toggle>.icon-bar{
  background-color: #9ECB3C;
}
.g3c-navbar-toggle:hover>.icon-bar{
  background-color: #ffffff;
}
.g3c-form-control{
  border-color:#ccc;
  border-right-style:none;
  border-radius: 20px 0px 0px 20px;
  box-shadow: none;
}
.g3c-form-control:focus{
  border-color:#ccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.g3c-search-btn-default{
  border-left-style: none;
  border-radius: 0px 20px 20px 0px;
  height: 34px;
}
.g3c-navbar-small-form{
  padding: 15px 0px;
} 
.g3c-navbar-small-form-control{
  border:1px solid #ccc;
  border-right-style:none;
  border-radius: 20px 0px 0px 20px;
  box-shadow: none;
  height: 34px;
  padding-left:10px;
  vertical-align: middle;
  width: 200px;
}
.g3c-navbar-small-form-control:focus{
  border-color:#ccc;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.g3c-dropdown-menu{
  min-width: 200px;
  padding: 5px;
}
@media (max-width: 767px){
  .g3c-navbar-default{
    background-color:transparent;
    border-color: transparent;
  }
  .g3c-navbar-collapse{
    background-color: white;
    max-width: 300px
  }
  .g3c-navbar-header{
    background-color: white;
  }
  .container>.g3c-navbar-collapse{
    margin-left: 65%;
  }
}

@media (min-width: 768px){
  .g3c-navbar-form .g3c-form-control{
    width: 400px;
  }
}

