
	<div class="container-fluid">
		<div class="col-md-3">
			<h2 class="page-header text-center">TOP 3 Thành viên</h2>
			<div class="user-top-month" ng-controller="getTopUserCtrl as gtu">
				<div ng-repeat="user in usersTop" class="col-md-12 text-center">
					<img ng-src="{{user.profilePicture}}" alt="avatar" class="user-avatar">								
					<p><a class="btn btn-viewdetail" href="#" role="button">{{user.fullName}}</a></p>
				</div>				
				<div class="col-md-12 text-center">
					<p><a class="btn btn-viewdetail" href="#" role="button">Xem thêm</a></p>
				</div>
			</div>
			<hr>
			<h2 class="page-header text-center">Khoá học nổi bật</h2>
			<div class="recommended-courses">
				<a href="#">
					<div class="col-md-12 course">
						<div class="col-md-3">
							<img src="img/128-block.png" width="80px" height="80px">
						</div>
						<div class="col-md-8">
							<h4><b>Tên khoá học</b></h4>
							<p>Khoá học về...</p>
							<p class="text-muted">Abc, Xyz... đang tham gia khoá học này</p>
						</div>
					</div>
				</a>
				<a href="#">
					<div class="col-md-12 course">
						<div class="col-md-3">
							<img src="img/128-block.png" width="80px" height="80px">
						</div>
						<div class="col-md-8">
							<h4><b>Tên khoá học</b></h4>
							<p>Khoá học về...</p>
							<p class="text-muted">Abc, Xyz... đang tham gia khoá học này</p>
						</div>
					</div>
				</a>
				<a href="#">
					<div class="col-md-12 course">
						<div class="col-md-3">
							<img src="img/128-block.png" width="80px" height="80px">
						</div>
						<div class="col-md-8">
							<h4><b>Tên khoá học</b></h4>
							<p>Khoá học về...</p>
							<p class="text-muted">Abc, Xyz... đang tham gia khoá học này</p>
						</div>
					</div>
				</a>
				<a href="#">
					<div class="col-md-12 course">
						<div class="col-md-3">
							<img src="img/128-block.png" width="80px" height="80px">
						</div>
						<div class="col-md-8">
							<h4><b>Tên khoá học</b></h4>
							<p>Khoá học về...</p>
							<p class="text-muted">Abc, Xyz... đang tham gia khoá học này</p>
						</div>
					</div>
				</a>
			</div>
		</div> <!--col-md-4 -->
		<div class="col-md-6">
			<div class="row user-status">
				<div class="status-box">
					<div class="col-md-1 text-center">
						<img src="img/user-128.png" width="50" height="50">	
					</div>
					<div class="col-md-10">
						<textarea class="status" placeholder="Share your status"></textarea>
						<script type="text/javascript">
							$(document).ready(function() {
								// body...
								$('.status').focusin(function() {
									/* Act on the event */
									$('.status-box').css('outline', 'solid 1px #9ECB3C');
								});
								$('.status').focusout(function(event) {
									/* Act on the event */
									$('.status-box').css('outline', 'none');
								});
							})
						</script>

					</div>
					<button class="post-status">Post</button>
				</div>
			</div>
			<hr>
			<div class="row news-feed" ng-controller="getUsersPostCtrl as gup">
				<div class="post" ng-repeat="post in posts">
					<div class="row text-center post-pic">
						<img ng-src="{{post.source}}">
					</div>
					<div class="row post-content">
						<div class="col-md-2">
							<img ng-src="{{post.profilePicture}}" class="post-avatar">
						</div>
						<div class="col-md-10">
							<h4><b>{{post.fullName}}</b> <span class="text-muted">{{post.message}}</span></h4>
							<p class="small text-muted">10 phút trước <i class="fa fa-globe"></i></p>
							<p>{{post.content}}</p>
							<hr>
							<i class="fa fa-heart"></i> {{post.likes}} <i class="fa fa-comments"></i> {{post.comments}} <i class="fa fa-share"></i> {{post.shares}}
						</div>
					</div>
				</div>				
			</div>
		</div> <!-- col-md-6 -->
		<div class="col-md-3 product">
			<h1 class="page-header text-center">Sản phẩm nổi bật</h1>
			<div class="frame" id="centered">
				<ul class="slidee text-center">
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
					<li>
						<img src="img/user-128.png" alt="">
						<p><a class="btn btn-viewdetail" href="#" role="button">Tên Sản phẩm</a></p>
					</li>
				</ul>
			</div>
			<div class="scrollbar">
				<div class="handle">
					<div class="mousearea"></div>
				</div>
			</div>
		</div>
	</div>