body {
        background-image: url(/img/bg.jpg);
}
 
 a{
  color: #148749;
 }
 .con-link{
 	padding-top: 20px;
    padding-bottom: 20px;
 }
 .pagination>.active>a{
  background-color: #148749;
  border-color: #148749;
}
.pagination>li>a,.pagination>li>span{
  color:#148749; 

}
  .pagination>.active>a:hover{
  background-color: #9ebc3c;
  border-color: #9ebc3c;
 }
 .breadcrumb{
  background-color: rgba(250,250,240, 0.4);
 }
 
  .active{
    color: #148749;
  }
  
  ul li {
    list-style-type:none;
  }
  
  .post-slide{
    overflow:hidden;
    padding: 0 11px;
    transform: translateY(0);
    transition: all 0.30s ease 0s;
    margin-bottom: 20px;
}
.post-slide:hover{
    transform: translateY(-10px);
    cursor:pointer;
}
.post-slide .post-img {
    position: relative;
}.post-slide .post-img img{
    width: 100%;
    /*height: 263px;*/
}
.post-slide .post-img:after{
    content: "";
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: linear-gradient(to left, rgba(135, 249, 3,0.7) , rgba(20, 135, 73,0.7));
    transform:translateY(-100%);
    transition:  all 0.30s ease 0s;

}
.post-slide:hover .post-img:after{
    transform:translateY(0);

}
.post-slide .post-img:before{
    content: "\f002";
    font-family: 'FontAwesome';
    width: 100%;
    height: 100%;
    text-align:center;
    position:absolute;
    top:-50%;
    font-size:30px;
    color:#fff;
    transition: all 0.50s ease 0s;
    z-index: 1;
}
.post-slide:hover .post-img:before{
    top:40%;
}
.post-slide .icons{
    position: absolute;
    bottom: -16px;
    left: 30px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    z-index:1;
}
.post-slide .icons img{
    width: 100%;
    height: auto;
}
.post-slide .post-review{
    border:1px solid #148749;
    border-top: none;
    padding: 35px 20px 25px;
    background: #fff;
    position:relative;
}
.post-slide .post-review:after{
    content: "";
    width: 90%;
    height: 10px;
    position: absolute;
    top: 100%;
    left: 5%;
    opacity: 0;
    background: rgba(0, 0, 0, 0) radial-gradient(ellipse at center center , rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    transform: translateY(0);
    transition: all 0.30s ease 0s;
}
.post-slide:hover .post-review:after{
    opacity: 1;
    transform: translateY(5px);
}
.post-slide .post-bar{
    padding: 0;
    list-style: none;
}
.post-slide .post-bar li{
    display:inline-block;
    width:93px;
    overflow:hidden;

    font-size:16px;
    font-family: serif,Arial;
    color:#555;
    margin-right:10px;
    text-transform: capitalize;
}
.post-slide .post-bar li i{
    color:#148749;
    margin-right:8px;
}
.post-slide .post-title{
    margin:5px 0 15px 0;
    color:#555;
    font-weight:bold;
    font-size:18px;
    height:18px;
    overflow:hidden;
}
.post-slide .post-description{
    font-size:15px;
    line-height:21px;
    color:#808080;
    height:84px;
    overflow:hidden;
}
.post-slide .read{
    text-transform: capitalize;
    font-size:15px;

    color:#148749;
}
.post-slide .read i{
    margin-left:10px;
    padding-top: 20px;
}
.post-slide .read:hover{
    text-decoration:none;
    color:#333;
}
.basis_price{
  text-decoration: line-through;
  font-size: 0.8em;
  color:#A1A1A1;
  margin-left: 50px;
}
 .btn-bangchon1 {
           background: transparent url(/img/button_danhmuc.png) no-repeat top left;
           cursor: pointer;
           height: 301px;
           position: absolute;
           right: -34px;
           width: 35px;
       }

       .menu1 {
           position: fixed;
           top: 137px;
           padding: 20px 20px 20px 3px;
           text-align: center;
           -moz-border-radius: 5px;
           -webkit-border-radius: 5px;
           border-radius: 5px;
           background-color: #fff;
           border: 1px solid #e1e1e1;
           box-shadow: 1px 1px 10px #000000;
           min-height: 16px;
         
           width: 190px;
       }

       .list-item-dm {
           padding: 5px 0;
           text-decoration: none;
           color: #fff;
           width: 178px;
           margin: 0 1px 1px 0;
           float: left;
           text-align: center;
       }

       a:hover, a:focus {
           outline: 0;
           color:#e1e1e1;  
           text-decoration:none;
       }
     
       .btn-bangchon2 {
           background: transparent url(/img/button_nguyenlieu.png) no-repeat top left;
           cursor: pointer;
           height: 301px;
           position: absolute;
           right: -34px;
           width: 35px;
       }

       .menu2 {
           position: fixed;
           top: 405px;
           padding: 20px 20px 20px 3px;
           text-align: center;
           -moz-border-radius: 5px;
           -webkit-border-radius: 5px;
           border-radius: 5px;
           background-color: #fff;
           border: 1px solid #e1e1e1;
           box-shadow: 1px 1px 10px #000000;
           min-height: 16px;
          
           width: 190px;
       }

       .list-item-nl {
           padding: 5px 0;
           text-decoration: none;
           color: #fff;
           width: 80px;
           margin: 0 1px 1px 0;
           float: left;
           text-align: center;
       }

       .btn-bangchon3 {
           background: transparent url(/img/button_doituong1.png) no-repeat top left;
           cursor: pointer;
           height: 301px;
           position: absolute;
           right: -34px;
           width: 35px;
       }

       .menu3 {
           position: fixed;
           top: 642px;
           padding: 20px 20px 20px 3px;
           text-align: center;
           -moz-border-radius: 5px;
           -webkit-border-radius: 5px;
           border-radius: 5px;
           background-color: #fff;
           border: 1px solid #e1e1e1;
           box-shadow: 1px 1px 10px #000000;
           min-height: 16px;
          z-index:30;
           width: 190px;
       }

       .list-item-dt {
           padding: 5px 0;
           text-decoration: none;
           color: #fff;
           width: 80px;
           margin: 0 1px 1px 0;
           float: left;
           text-align: center;
       }

       .item-big {
           width: 161px;
       }
 