<div ng-controller="aboutUsCtrl">
	<!-- Introduction Row -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">About Us
				<small>It's Nice to Meet You!</small>
			</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
		</div>
	</div>

	<!-- Team Members Row -->
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">Our Team</h2>
		</div>
		<div class="col-lg-12 text-center">
			<img src="img/logo.png">
		</div>
		<div class="col-lg-6 col-sm-6 text-center g3c-team-member" ng-repeat="member in teamMemberList | limitTo:2">
			<img class="img-circle img-responsive img-center" ng-src="{{member.Image}}" alt="">
			<h3>{{member.Name}}</h3>
			<p><small>{{member.Title}}</small></p>
			<p>{{member.Description}}</p>
		</div>
		<div class="col-lg-4 col-sm-6 text-center g3c-team-member" ng-repeat="member in teamMemberList" ng-if="$index > 1">
			<img class="img-circle img-responsive img-center" ng-src="{{member.Image}}" alt="">
			<h3>{{member.Name}}</h3>
			<p><small>{{member.Title}}</small></p>
			<p>{{member.Description}}</p>
		</div>
	</div>
	<hr>
</div>