<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/traoDoi/xacNhan.css">
</head>
<body>
	<div class="container">
		<div class="row text-center">
			<div class="col-md-6 col-sm-6 col-xs-6 user1">
				<span>Hộp đựng quà</span>
				<img src="../../img/hmade.jpg" alt="">
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 user2">
				<span>Hộp đựng quà</span>
				<img src="../../img/hmade.jpg" alt="">
			</div>
		</div>
	</div>
</body>
</html>