<div ng-controller ="vatPhamItemControllerDemo">
    <ul>
        <li class="paginationclass" ng-repeat="vatPham in vatPhams| pagination : currentPage*itemsPerPage | limitTo: itemsPerPage">

            <div id="news-slider" class="owl-carousel">
                <div class="post-slide col-sm-3">

                    <div class="post-img">
                        <div style="height:263px;overflow:hidden">
                            <img ng-src="{{vatPham.imgSanPham}}" alt="">
                        </div>
                        
                        <span class="icons">
                            <img ng-src="{{vatPham.imgNguoiBan}}" alt="">
                        </span>


                    </div>
                    <div class="post-review">
                        <ul class="post-bar">
                            <li><i class="fa fa-calendar"></i>{{vatPham.ngayDang}}</li>
                            <li><i class="fa fa-user"></i>{{vatPham.nguoiBan}}</li>
                        </ul>
                        <h3 class="post-title">{{vatPham.tenVatPham}}</h3>
                        <p class="price">
                            <span class="discount">{{vatPham.giaGoc}}đ </span>
                            <span class="basis_price">{{vatPham.giaGiam}}đ </span>
                        </p>
                        <p class="post-description">{{vatPham.description}}</p>
                        <a href="{{'#/vatPham/chiTiet/'+vatPham.idVatPham}}" class="read">Xem chi tiết<i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="pagination-div text-center">

        <ul class="pagination">

            <li ng-class="DisablePrevPage()">

                <a href ng-click="prevPage()"> Prev</a>

            </li>

            <li ng-repeat="n in range()"
                ng-class="{active: n == currentPage}"
                ng-click="setPage(n)">

                <a href="">{{n+1}}</a>

            </li>

            <li ng-class="DisableNextPage()">

                <a href ng-click="nextPage()">Next </a>

            </li>

        </ul>

    </div>
</div>