<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css">
		.proxied-field-wrap {
    display:block;
    position:absolute;
    height:0;
    width:0;
    overflow:hidden;
}
body {padding:20px}
	</style>
</head>
<body ng-controller="danhMucItemController">
	 <p><a ng-click="load('one.tpl')">One</a> | <a ng-click="load('two.tpl')">Two</a></p>
    <hr>
    <div ng-include="tpl"></div>
    <script type="text/ng-template" id="one.tpl">
    <p>Template One</p>
    <div file-browser>
        <input type="file" name="upload-file">
    </div>
</script>
<script type="text/ng-template" id="two.tpl">
    <p>Template Two</p>
</script>

</body>
</html>